{{#if (stageTagged)}}
<div class="stage">
    <button class="iconbutton" onclick="swapStageNotice()">
        {{#ifEquals stageTagged "Beta"}}
        <i class="fas fa-flask"></i>
        {{else}}
        <i class="fas fa-rocket"></i>
        {{/ifEquals}}
        {{stage}}
        <i class="fas fa-caret-down"></i>
    </button>
<div id="stagenotice">
    <p>
        This is functionality is in {{stage}} and is subject to change.
    If this demo stops working for any reason please create an issue on the
    GitHub project.
    </p>
    <p>
        The following feature flags are required to be enabled on your tenant for this demonstrator:
    </p>
    <ul>
        <li>OAUTH2_FOR_OKTA_API</li>
    </ul>
</div>
</div>
<script>
    function swapStageNotice(){
        var x = document.getElementById("stagenotice");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
        }
</script>
{{/if}}