<div id="BrandLogo"></div>
<div class="content">
    <div class="section">
        <h1>Update Your Profile</h1>
        <form action="/editprofile" method="POST">
            <div class="section">
                <label for="number">Phone Number</label>
                <input type="text" name="number" value="{{user.phoneNumber}}"></input>
                <button type="submit" class="btn-positive" >Submit</button>
            </div>
        </form>
        <div>
            <form action="/">
                <input type="submit" class="btn-negative" value="Cancel" />
            </form>
        </div>
    </div>
    <div class="section errorMsg">
        {{error}}
    </div>
</div>