<div id="BrandLogo"></div>
<div class="content">
    <div class="section">
        <h1>Update Your Profile</h1>
        <form action="./editprofile" method="POST">
            <div class="section">
                <label for="number">Phone Number</label>
                <input type="text" name="number" value="{{user.phoneNumber}}"></input>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <div>
            <form action="./">
                <input type="submit" value="Cancel" />
            </form>
        </div>
        
    </div>
</div>