<div id="BrandLogo"></div>
<div class="content">
    <div class="section">
        <p>Welcome {{user.name}}. You last logged in {{user.lastLogin}}</p
    </div>

    <div class="section">
        <h1>Your Profile</h1>
        <p>Your registered phone number is {{user.phoneNumber}}.</p>
        <a href="./editProfile" class="button">edit</a>
    </div>
</div>