html{
    background: #20313b;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #d2d2d6;
}

html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
  }

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#BrandLogo{
    height: 200px;
    width: 400px;
    background-image: url('/static/images/dev_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.content{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    padding-bottom: 10px;
}

p {
    text-align: center;
}

.section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.section h1,h2,h3,h4 {
    margin: 5px;
    text-align: center;
}

.beta {
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #d2d2d6;
    color: black
}

#betanotice {
    display: none;
}

#betanotice li{
        list-style-type: none;
        text-align: center;
}

.iconbutton {
    cursor: pointer;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

label{
    font-weight: lighter;
    padding-bottom: 3px;
}

.btn-positive {
    margin: 5px;
    background-color: #e22866;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 30px;
    height: 30;
    border: 2px solid transparent;
    cursor: pointer;
}

.btn-negative {
    background-color: gray;
    margin: 5px;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 30px;
    height: 30;
    border: 2px solid transparent;
    cursor: pointer;
}

.errorMsg {
    color: red;
}

table {
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #d2d2d6;
}